@font-face {
    font-family: 'Exo Thin';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Exo2.0-Thin.otf');
}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/trebuchetms.ttf');
}
